body {
    font-family: Arial;
    color: #555555;
    margin: 30px 30px 0px 30px;
}
h1 {
    color: black;
}
h2 {
    color: black;
    font-size: 18px;
}
footer {
    font-size: 12px;
}
th {
    font-size: 14px;
    text-align: left;
}
tr td:first-child {
    width: 40%;
    font-weight: bold;
}
tr:hover {
    color: #FEFFDB;
    cursor: pointer;
}
#room {
    margin-top: 40px;
}
.cook {
    float: left;
    margin-top: 20px;
}
.cook h1 {
    float: left;
    margin-top: 5px;
}
.homeim {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}
.rt {
    margin-top: 30px;
    width: 100%;
}
.recipebut a {
    text-decoration: none;
}
.recipebutton a {
    text-decoration: none;
}
.recipebut {
    float: right;
    background: #c8f279;
    border: 1px solid #8abd2b;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    padding: 1%;
    width: 6%;
    text-align: center;
}
.rcb {
    width: 50%;
}
.recipebutton {
    background: #c8f279;
    border: 1px solid #8abd2b;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    padding: 1%;
    text-align: center;
    width: 60%;
}
.but input {
    background: hsla(100, 100%, 40%, .4);
    height: 40px;
}
.clear {
    clear: both;
}
.fun {
    background-color: #dddddd;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 6px;
}
.box {
    width: 15%;
    height: 40%;
    background-color: #feffdb;
    border-radius: 6px;
    border: solid 1px;
    padding: 5px 25px 25px;
    margin-bottom: 20px;
}
.box p:first-child {
    font-weight: bold;
}
/*Submit Form*/

.fms {
    background: hsla(35, 10%, 20%, .08);
    border: solid hsla(35, 10%, 20%, .12) 1px;
    border-radius: 6px;
    height: 440px;
    width: 230px;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 13px;
    margin-bottom: 40px;
}
.nav {
    border-radius: 2px;
    background-color: #dddddd;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.nav p:first-child {
    margin-right: auto;
}
.nav p {
    margin: 1%;
}
.navim {
    /*Navigation bar Image*/
    
    margin-top: 5px;
    width: 230px;
    height: 80px;
}
.nav a {
    text-decoration: none;
}
/***********************************************************************
            Media-Queries!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media screen and (max-width: 480px) {
    .nav {
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0;
    }
    .navim {
        width: 180px;
        height: 60px;
    }
    .nav p:first-child {
        margin: auto;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .box {
        width: 80%;
        text-align: center;
        margin-bottom: 50px;
    }
    .recipebut {
        display: none;
        float: none;
    }
    .cook {
        float: none;
    }
    .homeim {
        float: none;
        display: block;
        width: 80%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .cook h1 {
        float: none;
    }
}