body {
    font-family: Arial;
    color: #555555;
    margin: 30px 30px 0px 30px;
}
h1 {
    color: black;
}
h2 {
    color: black;
    font-size: 18px;
}
footer {
    font-size: 12px;
}
th {
    font-size: 14px;
    text-align: left;
}
tr td:first-child {
    width: 40%;
    font-weight: bold;
}
tr:hover {
    color: #FEFFDB;
    cursor: pointer;
}
#room {
    margin-top: 40px;
}
.cook {
    float: left;
    margin-top: 20px;
}
.cook h1 {
    float: left;
    margin-top: 5px;
}
.homeim {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}
.navim {
    /*Navigation bar Image*/
    
    width: 230px;
    height: 80px;
}
.rt {
    float: right;
    margin-top: 30px;
}
.rt input {
    background-color: #8abd2b;
}
.but input {
    background: hsla(100, 100%, 40%, .4);
    height: 40px;
}
.clear {
    clear: both;
}
.fun {
    background-color: #dddddd;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 6px;
}
.box {
    width: 15%;
    height: 40%;
    background-color: #feffdb;
    border-radius: 6px;
    border: solid 1px;
    padding: 5px 25px 25px;
    margin-bottom: 20px;
}
.box p:first-child {
    font-weight: bold;
}
/*Submit Form*/

.fms {
    background: hsla(35, 10%, 20%, .08);
    border: solid hsla(35, 10%, 20%, .12) 1px;
    border-radius: 6px;
    height: 440px;
    width: 230px;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 13px;
    margin-bottom: 40px;
}
/*Navigation Bar*/

.nav {
    border-radius: 2px;
    background-color: #dddddd;
    text-indent: 15px;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav li:first-child {
    margin-right: auto;
}
/***********************************************************************
            Media-Queries!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media screen and (max-width: 480px) {
    .nav {
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0;
        text-indent: 0;
        margin-left: -15px;
        flex-align: center;
    }
}
@media screen and (max-width: 480px) {
    .navim {
        width: 180px;
        height: 60px;
    }
}
@media screen and (max-width: 480px) {
    .nav li:first-child {
        margin: auto;
        align: center;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    h2 {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    h3 {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    p {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .box {
        width: 80%;
        text-align: center;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 480px) {
    .rt {
        display: none;
        float: none;
    }
}
@media screen and (max-width: 480px) {
    .cook {
        float: none;
    }
}
@media screen and (max-width: 480px) {
    .homeim {
        float: none;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 480px) {
    .cook h1 {
        float: none;
    }
}